* {
    margin: 0;
    padding: 0;
}

.grid-container {
    background-color: #eff2ee;
    padding: 1 rem;
    display: grid;
    /* grid-template-columns: 200px 200px 200px; */
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: 200px 200px; */
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    margin:auto;

}

.grid-item {
    text-align: center;
    padding: 2rem;
    font-size: 3rem;
    border: 1px;
    border-radius: 20px;
}

.item1 {
    background-color: rgb(178, 32, 37);
    grid-column: 1/5;
    grid-row: 1/2;
}

.item2 {
    background-color: rgb(50, 26, 146);
    grid-column: 1/3;
    grid-row: 2/4;
}

.item3 {
    background-color: rgb(21, 116, 47);
    grid-column: 3/5;
    grid-row: 2/3;
}

.item4 {
    background-color: purple;
    grid-column: 3/4;
    grid-row: 3/4;
}

.item5 {
    background-color: purple;
    grid-column: 4/5;
    grid-row: 3/4;
}